
.chat-icon {
  border-radius: 5px;
  background-color: gray;
      padding: 5px;
      position: fixed;
      bottom: 20px;
      right: 20px;
      font-size: 2.5em;
      color: #ffff; 
      z-index: 1000; 
}

body {
        overflow-x: hidden;
      }
li{
  list-style: none;

}
      